body.active-modal {
    overflow-y: hidden;
}

button {
    padding: 0.7rem 1.2rem;
    border: 2px solid #afafaf;
    border-radius: 3px;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.25s ease;
}

button:hover {
    border-color: #646cff;
    background: #444444;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.modal-content {
    overflow: auto;
    height: 70%;
}

.edit-modal-content {
    height: 15%;
}

.calculator-display-el {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.traveller-el {
    width: 40%;
}

.transaction-el {
    width: 40%;
    padding-top: 20px;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content,
.edit-modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    color: black;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.expense-value {
    color: black;
}

.display-traveller {
    /* width: 40%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 10px;
    padding: 10px;
    box-sizing: border-box;
}

.display-traveller p {
    width: 33%;
    margin-right: auto;
}

.delete-btn {
    height: auto;
    /* Reset the height to default */
    padding: 5px 10px;
    /* Adjust padding to control the size of the button */
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 20px;
    /* Add border radius for rounded corners */
    cursor: pointer;
    font-weight: bold;
}

.delete-btn:hover {
    background-color: #da190b;
}

.traveller-title {
    margin: 5px 10px;
    padding: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Add expense button specific styling */
.add-expense-button {
    height: auto;
    /* Reset the height to default */
    padding: 10px 20px;
    /* Adjust padding to control the size of the button */
    color: white;
    border: none;
    border-radius: 20px;
    /* Add border radius for rounded corners */
    cursor: pointer;
    background-color: #008CBA;
    /* Blue background */
    font-weight: bold;
    font-size: 20px;
}

.add-expense-button:hover {
    background-color: #007BB5;
    /* Darker blue */
}

/* Add traveller button specific styling */
.add-traveller-button {
    height: auto;
    /* Reset the height to default */
    padding: 5px 10px;
    /* Adjust padding to control the size of the button */
    color: white;
    border: none;
    border-radius: 20px;
    /* Add border radius for rounded corners */
    cursor: pointer;
    background-color: #008CBA;
    /* Red background */
    font-weight: bold;
}

.add-traveller-button:hover {
    background-color: #007BB5;
    /* Darker red */
}

/* Input field styling */
.traveller-name {
    padding: 10px;
    /* Add padding */
    margin: 4px 2px;
    /* Add some margin */
    font-size: 16px;
    /* Increase font size */
    border: 1px solid #ccc;
    /* Light gray border */
    border-radius: 4px;
    /* Rounded corners */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

.auto-btn,
.manual-btn {
    background-color: rgb(6, 120, 201);
}

.auto-btn:hover,
.manual-btn:hover {
    background-color: #36afe7;
    border-color: #a8c6fa;
}

.auto-click,
.manual-click {
    background-color: #056997;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

.back-btn {
    background-color: inherit;
    border: none;
    align-items: center;
    gap: .3rem;
    padding: 1rem 0;
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 30px;
}

.back-btn:hover {
    color: #646cff;
    background: inherit;
}

.display-transaction-el {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.display-transaction-btn {
    display: inline-block;
}

.edit-name-el {
    font-size: 1rem;
    font-family: inherit;
    font-weight: 400;
    background: #111;
    padding: .5rem .8rem;
    border: 2px solid #8e9696;
    border-radius: 5px;
}